Repository bcgov/nr-spar, pull requests merged in 2023-08, with the labels that each got.

#381 Feat/350 create mock api for applicant agency
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/applicantAgenciesAPI.ts
  frontend/src/components/ApplicantInformationForm/constants.ts
  frontend/src/components/ApplicantInformationForm/definitions.ts
  frontend/src/components/ApplicantInformationForm/index.tsx
  frontend/src/mock-server/endpoints/ApplicantAgencyEndpoint.ts
  frontend/src/mock-server/endpoints/index.ts
  frontend/src/mock-server/fixtures/ApplicantAgenciesItems.ts
  frontend/src/mock-server/fixtures/index.ts
  frontend/src/types/ApplicantAgencyType.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
Labels: front-end, feature

#202 Feat/655 send backend logs opensearch
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/Dockerfile
  backend/openshift.deploy.yml
  backend/openshift.fluentbit.yml
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/main/resources/logback-spring.xml
  backend/src/test/resources/application.properties
  common/openshift.init.yml
Labels: devops

#407 CODEOWNERS + DerekRoberts (me)
  .github/CODEOWNERS
Labels: devops

#406 feat: replace react-serve with caddy
  frontend/Caddyfile
  frontend/Dockerfile
  frontend/openshift.deploy.yml
  frontend/src/__test__/components/__snapshots__/BCHeader.test.tsx.snap
  frontend/src/components/BCHeader/index.tsx
Labels: front-end, feature

#391 Feat/243 create endpoints to fetch client locations
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/ForestClientDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/ForestClientLocationDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/ForestClientEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/ForestClientExpiredEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/ForestClientApiProvider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/Provider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/ForestClientService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/ForestClientEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/provider/ForestClientApiProviderTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/ForestClientServiceTest.java
Labels: back-end, feature

#408 ci: drop yarn
  .github/workflows/ci.yml
  .github/workflows/pr-open.yml
  CONTRIBUTING.md
  docker-compose.yml
  frontend/CONTRIBUTING.md
  frontend/Dockerfile
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Labels: dependencies, devops

#411 ci: update action-pr-description-add to 1.0.1
  .github/workflows/pr-open.yml
Labels: dependencies, devops

#427 deps: bump action-test-and-analyse
  .github/workflows/ci.yml
Labels: dependencies

#426 fix(deps): update dependency @testing-library/jest-dom to v6
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__test__/components/FavouriteCard.test.tsx
Labels: dependencies

#431 bug: clip namespace from fluentbit metadata
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/openshift.fluentbit.yml
Labels: bug

#433 bug: clip one last namespace var
  .github/workflows/merge-main.yml
Labels: bug

#379 Feat: Genetic Worth Calculations API
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/GeneticWorthSummaryDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/GeneticWorthTraitsDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/GeneticWorthTraitsRequestDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/GeneticWorthEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/GeneticWorthService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/GeneticWorthEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/GeneticWorthServiceTest.java
Labels: back-end, feature

#410 Feat/403 create endpoint to validate location codes
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/ForestClientLocationDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/ForestClientEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/seedlot/SeedlotOwnerQuantity.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/ForestClientExpiredEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/ForestClientStatusEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/enums/ForestClientTypeEnum.java
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/ForestClientApiProvider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/Provider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/ForestClientService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/ForestClientEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/provider/ForestClientApiProviderTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/ForestClientServiceTest.java
Labels: back-end, feature
