Repository bcgov/nr-spar, pull requests merged in 2023-07, with the labels that each got.

#296 bug: commas on deploy action triggers
  .github/workflows/pr-open.yml
Labels: bug

#295 Fix/259 default checkboxes are still checked when switching steps
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/types/SeedlotTypes/ExtractionStorage.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: fix

#291 fix: 198 broken border
  frontend/src/components/PanelSectionName/styles.scss
  frontend/src/theme/components-overrides.scss
Labels: bug, fix

#325 Readme badges
  .github/workflows/ci.yml
  README.md
Labels: documentation

#335 ci: bump action-pr-description-add
  .github/workflows/pr-open.yml
Labels: dependencies

#344 Cut down .github/codeowners
  .github/CODEOWNERS
Labels: documentation

#345 chore: restore SLDonnelly in .github/codeowners
  .github/CODEOWNERS
Labels: documentation

#361 feat: 299 integrate the nr fsa theme package
  frontend/package.json
  frontend/src/components/ActivityHistory/styles.scss
  frontend/src/components/ApplicantInformationForm/styles.scss
  frontend/src/components/ApplicantSeedlotInformation/styles.scss
  frontend/src/components/BCHeader/styles.scss
  frontend/src/components/Card/FavouriteCard/styles.scss
  frontend/src/components/Card/StandardCard/styles.scss
  frontend/src/components/ComboButton/styles.scss
  frontend/src/components/DescriptionBox/styles.scss
  frontend/src/components/EmptySection/styles.scss
  frontend/src/components/FavouriteActivities/styles.scss
  frontend/src/components/FormProgress/styles.scss
  frontend/src/components/FormReview/styles.scss
  frontend/src/components/InfoSection/styles.scss
  frontend/src/components/InputErrorText/styles.scss
  frontend/src/components/MyProfile/style.scss
  frontend/src/components/NotificationsCentral/style.scss
  frontend/src/components/PanelSectionName/styles.scss
  frontend/src/components/RecentActivities/RecentActivitiesTable/styles.scss
  frontend/src/components/RecentActivities/styles.scss
  frontend/src/components/RecentSeedlots/styles.scss
  frontend/src/components/SeedlotActivityHistory/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/OrchardWarnModal/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/UploadFileModal/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/SubmitModal/styles.scss
  frontend/src/components/SeedlotSummary/styles.scss
  frontend/src/components/Subtitle/styles.scss
  frontend/src/custom.scss
  frontend/src/index.tsx
  frontend/src/layout/PrivateLayout/styles.scss
  frontend/src/theme/colors.scss
  frontend/src/theme/components-overrides.scss
  frontend/src/theme/dark-buttons.scss
  frontend/src/theme/dark-notifications.scss
  frontend/src/theme/dark-tags.scss
  frontend/src/theme/dark-theme.scss
  frontend/src/theme/light-buttons.scss
  frontend/src/theme/light-notifications.scss
  frontend/src/theme/light-tags.scss
  frontend/src/theme/light-theme.scss
  frontend/src/theme/type-family.scss
  frontend/src/theme/variables.scss
  frontend/src/views/Dashboard/styles.scss
  frontend/src/views/Landing/styles.scss
  frontend/src/views/Seedlot/MySeedlots/styles.scss
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/styles.scss
  frontend/src/views/Seedlot/SeedlotDashboard/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/styles.scss
  frontend/yarn.lock
Labels: front-end

#349 Fix/280 remove seedlotnumber in upload endpoints
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/ParentTreesContributionEndpoint.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/ParentTreesContributionEndpointTest.java
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/seedlotAPI.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
Labels: refactor, full-stack
