Repository bcgov/nr-spar, pull requests merged in 2023-05, with the labels that each got.

#28 fix(deps): update linters
  frontend/package.json
  frontend/yarn.lock
Labels: fix

#27 chore(deps): update maven-wrapper to v3.2.0 and maven to v3.9.1
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/Dockerfile
  backend/mvnw
  backend/mvnw.cmd
  oracle-api/.mvn/wrapper/maven-wrapper.jar
  oracle-api/.mvn/wrapper/maven-wrapper.properties
  oracle-api/mvnw
  oracle-api/mvnw.cmd
Labels: enhancement, ignore-for-release

#43 Feat/merge main
  .github/workflows/merge-main.yml
  frontend/openshift.deploy.yml
Labels: enhancement

#25 chore(deps): update maven all non-major dependencies
  backend/pom.xml
  oracle-api/pom.xml
Labels: ignore-for-release

#59 Change TEST api's SERVICE_NAME
  oracle-api/openshift.deploy.yml
Labels: enhancement

#47 Copy oracle-api changes
  .github/workflows/pr-open.yml
  .gitignore
  common/openshift.init.yml
  oracle-api/CHANGELOG.md
  oracle-api/CODE_OF_CONDUCT.md
  oracle-api/COMPLIANCE.yaml
  oracle-api/Dockerfile
  oracle-api/LICENSE.md
  oracle-api/README_template.md
  oracle-api/SECURITY.md
  oracle-api/SETUP.md
  oracle-api/docker-compose.yml
  oracle-api/dockerfile-entrypoint.sh
  oracle-api/mvnw
  oracle-api/mvnw.cmd
  oracle-api/openshift.deploy.yml
  oracle-api/pom.xml
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/dto/OrchardParentTreeDto.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/dto/ParentTreeDto.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/dto/ParentTreeGeneticQualityDto.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/endpoint/OrchardEndpoint.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/ParentTree.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/ParentTreeGeneticQuality.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/ParentTreeOrchard.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/ParentTreeOrchardId.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/ParentTreeGeneticQualityRepository.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/ParentTreeOrchardRepository.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/ParentTreeRepository.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/service/OrchardService.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/endpoint/OrchardEndpointTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/repository/ParentTreeGeneticQualityRepositoryTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/repository/ParentTreeOrchardRepositoryTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/repository/ParentTreeRepositoryTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/service/OrchardServiceTest.java
  oracle-api/src/test/resources/scripts/ParentTreeGeneticQualityRepository.sql
  oracle-api/src/test/resources/scripts/ParentTreeOrchardRepository.sql
  oracle-api/src/test/resources/scripts/ParentTreeRepository.sql
Labels: enhancement

#64 Feat/main merge
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: enhancement

#73 Disable Dependabot for Renovate
  .github/dependabot.yml
Labels: enhancement

#71 Recent backend changes and adjustments
  backend/openshift.deploy.yml
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/ActiveOrchardSeedPlanningUnitEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/ActiveOrchardSeedPlanningUnit.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/idclass/ActiveOrchardSeedPlanningUnitId.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/ActiveOrchardSeedPlanningUnitRepository.java
  backend/src/main/resources/db/migration/V14__create_active_orchard_spu.sql
  backend/src/main/resources/db/migration/V15__populate_active_orchard_spu.sql
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/ActiveOrchardSeedPlanningUnitEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/ActiveOrchardSeedPlanningUnitRepositoryTest.java
Labels: enhancement

#76 fix: wrong backend api urls
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  frontend/CONTRIBUTING.md
  frontend/README.md
  frontend/jest.config.js
  frontend/openshift.deploy.yml
Labels: bug

#74 Stop using manual secrets, plus secret and variable cleanup
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  common/openshift.init.yml
  oracle-api/openshift.deploy.yml
Labels: bug

#89 feat: upgrade eclipse-temuri so it works with apple chips
  backend/Dockerfile
Labels: enhancement

#90 Reduce OpenShift CPU and Memory allocations
  backend/openshift.deploy.yml
  database/openshift.deploy.yml
  frontend/openshift.deploy.yml
  oracle-api/openshift.deploy.yml
Labels: enhancement

#105 Fix/docs and docker compose files
  docker-compose.yml
  oracle-api/Dockerfile
Labels: documentation, enhancement

#111 Increase backend and frontend replicas (2 min, 3 max)
  .github/workflows/merge-main.yml
Labels: enhancement

#113 Fix: main merge
  .github/workflows/merge-main.yml
Labels: fix

#116 Readiness and liveness probe updates
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  oracle-api/openshift.deploy.yml
Labels: enhancement

#147 Docker Compose adjustments
  backend/Dockerfile
  database/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/Dockerfile.dev
  oracle-api/Dockerfile
Labels: enhancement

#171 Run PR description add if PR opened or reopened
  .github/workflows/pr-open.yml
Labels: enhancement

#163 Backend Cloud Native in Dockerfile
  .github/workflows/pr-open.yml
  backend/Dockerfile
  backend/pom.xml
Labels: enhancement

#178 Fix/167 bc header refactoring
  frontend/src/__test__/components/__snapshots__/BCHeader.test.tsx.snap
  frontend/src/components/BCHeader/constants.ts
  frontend/src/components/BCHeader/definitions.ts
  frontend/src/components/BCHeader/index.tsx
  frontend/src/components/BCHeader/styles.scss
Labels: fix
