Repository bcgov/nr-spar, pull requests merged in 2023-10, with the labels that each got.

#532 feat: optimize cypress
  frontend/cypress.config.ts
  frontend/cypress/constants.ts
  frontend/cypress/e2e/smoke-test/create-a-class-seedlot.cy.ts
  frontend/cypress/e2e/smoke-test/dashboard-page.cy.ts
  frontend/cypress/e2e/smoke-test/login-page.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-main-page.cy.ts
  frontend/cypress/support/commands.ts
Labels: devops

#529 Fix/423 design system update change the fields label
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ActivityHistory/styles.scss
  frontend/src/components/ApplicantInformationForm/index.tsx
  frontend/src/components/ApplicantInformationForm/styles.scss
  frontend/src/components/ApplicantSeedlotInformation/styles.scss
  frontend/src/components/BCHeader/styles.scss
  frontend/src/components/Card/FavouriteCard/styles.scss
  frontend/src/components/Card/StandardCard/styles.scss
  frontend/src/components/ComboButton/styles.scss
  frontend/src/components/DescriptionBox/styles.scss
  frontend/src/components/EmptySection/styles.scss
  frontend/src/components/FavouriteActivities/styles.scss
  frontend/src/components/FormProgress/styles.scss
  frontend/src/components/FormReview/styles.scss
  frontend/src/components/InfoSection/styles.scss
  frontend/src/components/InputErrorText/styles.scss
  frontend/src/components/MyProfile/style.scss
  frontend/src/components/NotificationsCentral/style.scss
  frontend/src/components/PanelSectionName/styles.scss
  frontend/src/components/RecentActivities/RecentActivitiesTable/styles.scss
  frontend/src/components/RecentActivities/styles.scss
  frontend/src/components/RecentSeedlots/styles.scss
  frontend/src/components/SeedlotActivityHistory/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/OrchardWarnModal/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/UploadFileModal/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/SubmitModal/styles.scss
  frontend/src/components/SeedlotSummary/styles.scss
  frontend/src/components/Subtitle/styles.scss
  frontend/src/layout/PrivateLayout/styles.scss
  frontend/src/styles/custom.scss
  frontend/src/views/Dashboard/styles.scss
  frontend/src/views/Landing/styles.scss
  frontend/src/views/Seedlot/MySeedlots/styles.scss
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/styles.scss
  frontend/src/views/Seedlot/SeedlotDashboard/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/styles.scss
Labels: front-end

#545 Bump Postgres from 13 to 15
  .github/workflows/pr-open.yml
  database/Dockerfile
Labels: dependencies, feature

#540 Feat/239 weighted gw calculation
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/utils.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
Labels: front-end

#550 ci: extend database timeout seconds
  database/openshift.deploy.yml
Labels: bug

#549 Feat/504 create api to retrieve a single seedlot by its number
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/SeedlotNotFoundException.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotServiceTest.java
Labels: back-end

#567 Feat/448 step 1 validation
  frontend/src/components/FormProgress/index.tsx
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationProgress/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/utils.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/constants.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: front-end

#576 deps: update action-test-and-analyse
  .github/workflows/pr-open.yml
  frontend/Dockerfile
Labels: feature

#556 Feat/505 create api to retrieve all seedlots by user
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SeedlotRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotServiceTest.java
Labels: back-end, feature

#579 Feat/572 integrate seedlot creation
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SeedlotSourceDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotSourceEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/SeedlotSourceEntity.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotSourceService.java
  backend/src/main/resources/db/migration/V20__alter_seedlot_source.sql
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotSourceEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/seedlot/SeedlotEntityRelationalTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotServiceTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotSourceServiceTest.java
  frontend/cypress/e2e/smoke-test/create-a-class-seedlot.cy.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/SeedlotSourcesAPI.ts
  frontend/src/api-service/applicantAgenciesAPI.ts
  frontend/src/api-service/seedlotAPI.ts
  frontend/src/components/ApplicantInformationForm/constants.ts
  frontend/src/components/ApplicantInformationForm/definitions.ts
  frontend/src/components/ApplicantInformationForm/index.tsx
  frontend/src/components/ApplicantInformationForm/styles.scss
  frontend/src/components/ApplicantInformationForm/utils.ts
  frontend/src/components/ApplicantSeedlotInformation/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/Toast/ErrorToast/index.tsx
  frontend/src/components/Toast/definitions.ts
  frontend/src/config/TimeUnits.ts
  frontend/src/config/ToastifyConfig.ts
  frontend/src/mock-server/models/index.ts
  frontend/src/styles/custom.scss
  frontend/src/types/FormInputType.ts
  frontend/src/types/SeedlotRegistrationObj.ts
  frontend/src/types/SeedlotRegistrationTypes.ts
  frontend/src/types/SeedlotSourceType.ts
  frontend/src/utils/FocusUtils.ts
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/index.tsx
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: full-stack
