Repository bcgov/nr-spar, pull requests merged in 2023-11, with the labels that each got.

#599 deps: update babel for subdep vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#601 deps: vitest for subdep get-func-name vulerability
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies, devops

#606 Use override to bring postcss up to patched ver
  frontend/package-lock.json
  frontend/package.json
Labels: bug, dependencies

#602 Feat/588 modularize client selection and location code
  .github/workflows/pr-open.yml
  frontend/src/api-service/applicantAgenciesAPI.ts
  frontend/src/components/ApplicantAgencyFields/constants.ts
  frontend/src/components/ApplicantAgencyFields/definitions.ts
  frontend/src/components/ApplicantAgencyFields/index.tsx
  frontend/src/components/ApplicantAgencyFields/styles.scss
  frontend/src/components/ApplicantInformationForm/index.tsx
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/types/AgencyTextPropsType.ts
  frontend/src/types/FormInputType.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
Labels: front-end

#642 ci: update renovate config
  renovate.json
Labels: dependencies, devops

#621 fix: date input length
  frontend/src/layout/PrivateLayout/styles.scss
Labels: bug, front-end

#616 Feat/595 my seedlot page endpoint integration
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SeedlotRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotServiceTest.java
  frontend/src/api-service/seedlotAPI.ts
  frontend/src/components/SeedlotTable/Table.tsx
  frontend/src/components/SeedlotTable/constants.ts
  frontend/src/components/SeedlotTable/definitions.ts
  frontend/src/components/SeedlotTable/index.tsx
  frontend/src/components/SeedlotTable/styles.scss
  frontend/src/components/SeedlotTable/utils.ts
  frontend/src/types/SeedlotType.ts
  frontend/src/views/Seedlot/MySeedlots/SeedlotDataTable/index.tsx
  frontend/src/views/Seedlot/MySeedlots/constants.ts
  frontend/src/views/Seedlot/MySeedlots/index.tsx
  frontend/src/views/Seedlot/MySeedlots/styles.scss
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/index.tsx
  frontend/src/views/Seedlot/SeedlotDashboard/RecentSeedlots/constants.ts
  frontend/src/views/Seedlot/SeedlotDashboard/RecentSeedlots/index.tsx
Labels: full-stack

#661 fix: clean mix table data
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
Labels: front-end

#663 Fix/659 nav scroll bug
  frontend/src/components/BCHeader/index.tsx
  frontend/src/components/BCHeader/styles.scss
Labels: front-end

#665 Feat/500 patch seedlot applicant info
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SeedlotApplicationPatchDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/SeedlotSourceNotFoundException.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SeedlotRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotServiceTest.java
Labels: back-end
