Repository bcgov/nr-spar, pull requests merged in 2023-09, with the labels that each got.

#437 Fix/377 fix dashboard card
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/FavouriteActivityUpdateDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/FavouriteActivityEntity.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/FavouriteActivityRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/FavouriteActivityService.java
  backend/src/main/resources/db/migration/V19__alter_fav_activity_table.sql
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/FavouriteActivityEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/FavouriteActivityRepositoryTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/FavouriteActivityServiceTest.java
  backend/src/test/resources/sql_scripts/FavoriteActivityRepositoryTest_favorite.sql
  frontend/src/App.tsx
  frontend/src/__test__/components/FavouriteActivities.test.tsx
  frontend/src/__test__/components/FavouriteCard.test.tsx
  frontend/src/api-service/favouriteActivitiesAPI.ts
  frontend/src/components/ApplicantInformationForm/index.tsx
  frontend/src/components/BCHeader/constants.ts
  frontend/src/components/Card/FavouriteCard/index.tsx
  frontend/src/components/Card/FavouriteCard/styles.scss
  frontend/src/components/FavouriteActivities/index.tsx
  frontend/src/components/FavouriteActivities/styles.scss
  frontend/src/components/FormProgress/index.tsx
  frontend/src/components/PageTitle/index.tsx
  frontend/src/components/PageTitle/styles.scss
  frontend/src/components/SeedlotActivities/index.tsx
  frontend/src/components/SeedlotTable/index.tsx
  frontend/src/config/FavouriteActivitiyMap.ts
  frontend/src/enums/ActivityType.ts
  frontend/src/mock-server/endpoints/FavouriteEndpoints.ts
  frontend/src/mock-server/endpoints/index.ts
  frontend/src/mock-server/fixtures/FavouriteActivitiesCardItems.ts
  frontend/src/types/CheckboxType.ts
  frontend/src/types/ComboBoxEvent.ts
  frontend/src/types/ExceptionResponse.ts
  frontend/src/types/FavActivityTypes.ts
  frontend/src/types/FieldExceptionResponse.ts
  frontend/src/types/History.ts
  frontend/src/types/InfoDisplayObj.ts
  frontend/src/types/KeycloakUser.ts
  frontend/src/types/MultiOptionsObject.ts
  frontend/src/types/OrchardDataType.ts
  frontend/src/types/PaginationChangeType.ts
  frontend/src/types/ParentTreeGeneticQualityType.ts
  frontend/src/types/SeedlotTypes/ExtractionStorage.ts
  frontend/src/types/SeedlotTypes/OwnershipTypes.ts
  frontend/src/types/SeedlotTypes/SeedlotOrchard.ts
  frontend/src/types/StorageInfo.ts
  frontend/src/types/VegetationCodeType.ts
  frontend/src/views/Seedlot/CreateAClass/index.tsx
  frontend/src/views/Seedlot/MySeedlots/SeedlotDataTable/index.tsx
  frontend/src/views/Seedlot/MySeedlots/constants.ts
  frontend/src/views/Seedlot/MySeedlots/index.tsx
  frontend/src/views/Seedlot/MySeedlots/styles.scss
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/index.tsx
  frontend/src/views/Seedlot/SeedlotDashboard/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
Labels: front-end

#438 Feat/401 update screen five to add tested parent tree pct on frontend
  backend/src/main/java/ca/bc/gov/backendstartapi/service/GeneticWorthService.java
  backend/src/test/resources/application.properties
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/geneticWorthAPI.ts
  frontend/src/components/InfoSection/InfoSectionColumn/index.tsx
  frontend/src/components/InfoSection/InfoSectionRow/index.tsx
  frontend/src/components/InfoSection/index.tsx
  frontend/src/components/InfoSection/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
  frontend/src/types/GeneticWorthTypes.ts
  frontend/src/types/JsxChildren.ts
  frontend/src/utils/RecordUtils.ts
Labels: full-stack

#442 bug: frontend to caddy cors stops
  .github/workflows/ci.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  common/openshift.init.yml
  frontend/CONTRIBUTING.md
  frontend/Caddyfile
  frontend/README.md
  frontend/openshift.deploy.yml
Labels: bug

#440 feat: create seedlot number api
  backend/src/main/java/ca/bc/gov/backendstartapi/config/Constants.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SeedlotCreateDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SeedlotCreateResponseDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/GeneticClassEntity.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/SeedlotSourceEntity.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/SeedlotStatusEntity.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/embeddable/AuditInformation.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/seedlot/Seedlot.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/InvalidSeedlotRequestException.java
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/ForestClientApiProvider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SeedlotRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/security/LoggedUserService.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/repository/SeedlotRepositoryTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/security/UserServiceTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotServiceTest.java
  backend/src/test/resources/sql_scripts/SeedlotRepositoryTest.sql
Labels: back-end

#473 Fix/ House keeping after vite
  frontend/src/__test__/JSdomPatch.ts
  frontend/src/react-app-env.d.ts
  frontend/src/setupTests.ts
Labels: refactor, front-end

#474 Feat/466 modify get parent trees by vegcode to return gen worth data
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SameSpeciesTreeDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/OrchardEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/OracleApiProvider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/Provider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/OrchardService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/OrchardEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/provider/OracleApiProviderTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/OrchardServiceTest.java
  frontend/src/api-service/orchardAPI.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
  frontend/src/types/ParentTreeGeneticQualityType.ts
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/dto/SameSpeciesTreeDto.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/endpoint/OrchardEndpoint.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/projection/ParentTreeNumberProj.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/projection/ParentTreeProj.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/exception/ModelMapperRunTimeException.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/ParentTreeGeneticQualityRepository.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/ParentTreeRepository.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/service/OrchardService.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/endpoint/OrchardEndpointTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/service/OrchardServiceTest.java
Labels: full-stack

#488 feat: cypress improvements
  frontend/cypress.config.ts
  frontend/cypress/constants.ts
  frontend/cypress/e2e/smoke-test/aclass-seedlot-registration.cy.ts
  frontend/cypress/e2e/smoke-test/dashboard-page.cy.ts
  frontend/cypress/e2e/smoke-test/login-page.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-main-page.cy.ts
  frontend/cypress/support/commands.ts
  frontend/package.json
  frontend/src/__test__/views/__snapshots__/Landing.test.tsx.snap
  frontend/src/views/Landing/index.tsx
Labels: front-end

#472 Feat/424 validate location code on frontend
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/forestClientsAPI.ts
  frontend/src/components/ApplicantInformationForm/constants.ts
  frontend/src/components/ApplicantInformationForm/index.tsx
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/utils.ts
  frontend/src/shared-constants/shared-constants.ts
  frontend/src/utils/StringUtils.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
Labels: front-end, feature

#503 feat: debian slim
  docker-compose.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Labels: feature

#511 bug: frontend deploy issues
  docker-compose.yml
  frontend/package-lock.json
Labels: bug

#513 Ci/codeowners
  .github/codeowners
Labels: devops

#514 feat: add cypress to docker-compose.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
Labels: feature

#492 Fix/490 add IBM plex mono font face
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/custom.scss
  frontend/src/styles/custom.scss
Labels: front-end

#519 ci: bump Trivy action
  .github/workflows/ci.yml
Labels: bug, dependencies

#520 ci: bump checkout action
  .github/workflows/ci.yml
  .github/workflows/cypress-nightly.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
Labels: dependencies, devops

#523 fix: Compose healthcheck w/ no curl or bash
  docker-compose.yml
Labels: bug, devops

#489 feat: integrate ne
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
  frontend/src/types/GeneticWorthTypes.ts
Labels: front-end

#524 chore: devops simplication and revisions
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  backend/openshift.fluentbit.yml
  database/openshift.deploy.yml
  frontend/openshift.deploy.yml
  oracle-api/openshift.deploy.yml
Labels: devops

#494 Feat/add cypress ci
  .github/workflows/ci.yml
  .github/workflows/merge-main.yml
  .github/workflows/pr-open.yml
  .gitignore
  backend/openshift.deploy.yml
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/cypress/constants.ts
  frontend/cypress/e2e/smoke-test/create-a-class-seedlot.cy.ts
  frontend/cypress/e2e/smoke-test/dashboard-page.cy.ts
  frontend/cypress/e2e/smoke-test/login-page.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-main-page.cy.ts
  frontend/cypress/support/commands.ts
  frontend/openshift.deploy.yml
  frontend/package-lock.json
  frontend/package.json
Labels: devops

#483 feat: complete smp mix tab partial implementation
  frontend/src/api-service/seedlotAPI.ts
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/utils.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: front-end
