Repository bcgov/nr-spar, pull requests merged in 2023-06, with the labels that each got.

#195 feat: backend docker-compose
  backend/Dockerfile.local
  backend/dockerfile-entrypoint.sh
  backend/pom.xml
  docker-compose.yml
Labels: enhancement

#209 Feat/update node and typescript version
  .github/workflows/ci.yml
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/jest.config.js
  frontend/package.json
  frontend/src/__test__/JSdomPatch.ts
  frontend/src/__test__/components/__snapshots__/BCHeader.test.tsx.snap
  frontend/src/__test__/utils/urlUtils.test.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: enhancement

#211 fix: upgrade webpack and ts-checked-plugin
  frontend/package.json
  frontend/yarn.lock
Labels: enhancement

#180 Feat/My Seedlots bug fixes (1/2)
  frontend/src/views/Seedlot/MySeedlots/SeedlotDataTable/index.tsx
  frontend/src/views/Seedlot/MySeedlots/constants.ts
  frontend/src/views/Seedlot/MySeedlots/index.tsx
  frontend/src/views/Seedlot/MySeedlots/styles.scss
Labels: bug

#182 Feat/Parent tree step foundation
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/orchardAPI.ts
  frontend/src/components/DescriptionBox/index.tsx
  frontend/src/components/DescriptionBox/styles.scss
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/Tabs/ConeAndPollen/constants.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/Tabs/ConeAndPollen/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/Tabs/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/UploadFileModal/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/UploadFileModal/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
  frontend/src/theme/components-overrides.scss
  frontend/src/types/ParentTreeGeneticQualityType.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: enhancement

#197 Fix/175 frontend grid refactoring
  frontend/src/__test__/components/InterimStep.test.tsx
  frontend/src/components/ApplicantInformationForm/styles.scss
  frontend/src/components/Card/StandardCard/styles.scss
  frontend/src/components/FavouriteActivities/index.tsx
  frontend/src/components/FavouriteActivities/styles.scss
  frontend/src/components/PageTitle/index.tsx
  frontend/src/components/RecentActivities/index.tsx
  frontend/src/components/RecentActivities/styles.scss
  frontend/src/components/RecentSeedlots/styles.scss
  frontend/src/components/SeedlotActivities/index.tsx
  frontend/src/components/SeedlotActivities/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/styles.scss
  frontend/src/layout/PrivateLayout/styles.scss
  frontend/src/views/Dashboard/dashboard.tsx
  frontend/src/views/Dashboard/styles.scss
  frontend/src/views/Seedlot/CreateAClass/styles.scss
  frontend/src/views/Seedlot/MySeedlots/index.tsx
  frontend/src/views/Seedlot/MySeedlots/styles.scss
  frontend/src/views/Seedlot/SeedlotDashboard/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
Labels: enhancement, refactor

#255 feat: PR deployment triggers
  .github/workflows/pr-open.yml
Labels: enhancement

#248 Fix/213 ownership fixes
  frontend/src/__test__/components/CollectionStep.test.tsx
  frontend/src/__test__/components/ExtractionAndStorageStep.test.tsx
  frontend/src/__test__/components/InterimStep.test.tsx
  frontend/src/__test__/components/OrchardStep.test.tsx
  frontend/src/__test__/components/OwnershipStep.test.tsx
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
Labels: bug, fix

#262 Fix/199 orchard step pollen information section
  frontend/src/__test__/components/OrchardStep.test.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
Labels: fix

#221 Fix/220 My seedlots table width
  frontend/src/views/Seedlot/MySeedlots/styles.scss
Labels: bug

#266 fix/247 make recent seedlot table clickable
  frontend/src/__test__/components/SeedlotTable.test.tsx
  frontend/src/components/SeedlotTable/index.tsx
  frontend/src/components/SeedlotTable/styles.scss
Labels: fix

#268 chore(deps): update linters (major)
  frontend/.eslintrc.json
  frontend/package.json
  frontend/yarn.lock
Labels: dependencies

#261 Feat/235 integrate conecollection endpoint
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/coneCollectionMethodAPI.ts
  frontend/src/api-service/vegetationCodeAPI.ts
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/utils.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/types/MultiOptionsObject.ts
  frontend/src/types/Seedlot.ts
  frontend/src/types/SeedlotRegistrationObj.ts
  frontend/src/utils/DropDownUtils.ts
  frontend/src/utils/MultiOptionsUtils.ts
  frontend/src/utils/filterUtils.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: enhancement

#270 Feat/168 methodology integration
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/maleFemaleMethodologyAPI.ts
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/data.ts
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
Labels: enhancement
