Repository bcgov/nr-spar, pull requests merged in 2023-12, with the labels that each got.

#702 feat: refactor step 5 1-3 input storage type
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/utils.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: front-end

#697 Feat/452 step 3 validation fe
  frontend/src/components/ApplicantAgencyFields/constants.ts
  frontend/src/components/ApplicantAgencyFields/index.tsx
  frontend/src/components/ApplicantAgencyFields/styles.scss
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: front-end

#699 Feat/453 step 4 validation fe
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/endpoint/OrchardEndpoint.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/service/OrchardService.java
Labels: full-stack

#706 Feat/457 step 6 validation fe
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/styles.scss
  frontend/src/styles/custom.scss
  frontend/src/types/SeedlotTypes/ExtractionStorage.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/constants.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: front-end

#715 fix/568 bug smp mix template not downloading
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
Labels: front-end

#719 fix/568 bug smp mix template html format
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
Labels: front-end

#711 Feat/613 clickable form progress on the seedlot detail
  frontend/src/components/SeedlotRegistrationProgress/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/FormProgress/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/constants.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: front-end

#721 fix/568 bug smp mix template downloading wrong format
  frontend/Caddyfile
Labels: front-end

#727 chore(ci): revise PR numbers for FAM
  .github/workflows/ci.yml
  .github/workflows/pr-open.yml
Labels: devops

#723 fix/717-front-end-deployment-update
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  common/openshift.init.yml
Labels: devops
