Repository bcgov/nr-spar, pull requests merged in 2024-02, with the labels that each got.

#826 Feat/743 integrate get seedlot form progress endpoint on front end
  frontend/src/api-service/methodsOfPaymentAPI.ts
  frontend/src/api-service/seedlotAPI.ts
  frontend/src/components/FormReview/index.tsx
  frontend/src/components/SeedlotRegistrationProgress/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/utils.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
  frontend/src/routes/index.tsx
  frontend/src/types/SeedlotType.ts
  frontend/src/views/Seedlot/SeedlotDetails/FormProgress/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotRegFormClassA/ClassAContext.tsx
  frontend/src/views/Seedlot/SeedlotRegFormClassA/RegForm.tsx
  frontend/src/views/Seedlot/SeedlotRegFormClassA/SaveTooltip.tsx
  frontend/src/views/Seedlot/SeedlotRegFormClassA/constants.ts
  frontend/src/views/Seedlot/SeedlotRegFormClassA/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegFormClassA/index.tsx
  frontend/src/views/Seedlot/SeedlotRegFormClassA/styles.scss
  frontend/src/views/Seedlot/SeedlotRegFormClassA/utils.ts
Labels: front-end

#797 Fix/773 frontend responsiveness complete seedlot register
  frontend/src/components/Breadcrumbs/constants.ts
  frontend/src/components/Breadcrumbs/definitions.ts
  frontend/src/components/Breadcrumbs/index.tsx
  frontend/src/components/Breadcrumbs/styles.scss
  frontend/src/components/ComboButton/index.tsx
  frontend/src/components/ComboButton/styles.scss
  frontend/src/components/SeedlotRegistrationProgress/index.tsx
  frontend/src/components/SeedlotRegistrationProgress/styles.scss
  frontend/src/hooks/UseWindowSize.tsx
  frontend/src/shared-constants/shared-constants.ts
  frontend/src/views/Seedlot/EditAClassApplication/index.tsx
  frontend/src/views/Seedlot/EditAClassApplication/utils.ts
  frontend/src/views/Seedlot/SeedlotDashboard/RecentSeedlots/styles.scss
  frontend/src/views/Seedlot/SeedlotDashboard/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/SeedlotSummary/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/styles.scss
  frontend/src/views/Seedlot/SeedlotRegFormClassA/index.tsx
  frontend/src/views/Seedlot/SeedlotRegFormClassA/styles.scss
  frontend/src/views/Seedlot/SeedlotRegFormClassA/utils.ts
Labels: front-end

#839 chore(ci): caddyfile adjustments
  frontend/Caddyfile
Labels: devops

#843 Fix/842 Empty orchard bug
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
  frontend/src/types/ParentTreeGeneticQualityType.ts
Labels: bug, front-end

#845 feat: add SPZ columns on the seedlot seed plan zone table
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/SeedlotSeedPlanZoneEntity.java
  backend/src/main/resources/db/migration/V25__add_cols_to_seedlot_spz.sql
Labels: back-end

#859 fix: 844 fix SMP Mix data submission
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SeedlotFormSubmissionDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotFormPutTest.java
  frontend/src/types/SeedlotType.ts
  frontend/src/views/Seedlot/SeedlotRegFormClassA/index.tsx
  frontend/src/views/Seedlot/SeedlotRegFormClassA/utils.ts
Labels: full-stack

#869 Fix/866 cant submit seedlot registration with parent trees outside of the orchard on smp mix tab
  backend/.mvn/google_checks.xml
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SeedlotFormParentTreeSmpDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/idclass/SeedlotParentTreeId.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotParentTreeService.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotParentTreeSmpMixService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotParentTreeServiceTest.java
  frontend/src/types/SeedlotType.ts
  frontend/src/views/Seedlot/SeedlotRegFormClassA/utils.ts
  oracle-api/.mvn/google_checks.xml
Labels: bug, back-end
