Repository bcgov/nr-spar, pull requests merged in 2024-08, with the labels that each got.

#1466 feat(ci): deploy on release
  .github/workflows/release.yml
Labels: devops

#1467 feat(ci): release to prod ii
  .github/workflows/merge.yml
  .github/workflows/release.yml
Labels: devops

#1468 feat(ci): release to prod iii
  .github/workflows/release.yml
Labels: bug, devops

#1469 fix(ci): quotes
  .github/workflows/release.yml
Labels: devops

#1470 chore(deps): alerts
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#1472 chore(ci): sync secrets object
  common/openshift.init.yml
  oracle-api/openshift.deploy.yml
  sync/openshift.deploy.yml
Labels: devops

#1481 feat(ci): sync build_number envar
  .github/workflows/pr-open.yml
  sync/Dockerfile
  sync/src/main.py
Labels: devops, feature

#1482 fix(ci): set environment at top level
  .github/workflows/.deploy.yml
Labels: bug, devops

#1483 fix(ci): recover from AI-hallucinated top-level envs
  .github/workflows/.deploy.yml
Labels: bug, devops

#1486 chore(ci): MAX_REPLICAS=1 for PRs
  .github/workflows/.deploy.yml
Labels: devops

#1427 feat: 1421 refactor text
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-orchard.cy.ts
  frontend/cypress/e2e/smoke-test/dashboard-page.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-dashboard.cy.ts
  frontend/cypress/fixtures/aclass-reg-form.json
  frontend/cypress/fixtures/dashboard-page.json
  frontend/cypress/fixtures/seedlot-dashboard.json
  frontend/src/__test__/components/ExtractionAndStorageStep.test.tsx
  frontend/src/components/BCHeader/constants.ts
  frontend/src/components/Card/FavouriteCard/index.tsx
  frontend/src/components/ClientAndCodeInput/ClientSearchModal/ClientSearchFields.tsx
  frontend/src/components/PageTitle/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/UploadFileModal/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/SubmitModal/constants.ts
  frontend/src/config/FavouriteActivitiyMap.ts
  frontend/src/types/FavActivityTypes.ts
  frontend/src/views/Dashboard/dashboard.tsx
  frontend/src/views/Seedlot/CreateAClass/index.tsx
  frontend/src/views/Seedlot/EditAClassApplication/Form.tsx
  frontend/src/views/Seedlot/MySeedlots/index.tsx
  frontend/src/views/Seedlot/ReviewSeedlots/index.tsx
  frontend/src/views/Seedlot/SeedlotCreatedFeedback/index.tsx
  frontend/src/views/Seedlot/SeedlotDashboard/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
Labels: refactor, front-end

#1475 chore(ci): resources and scaling
  backend/openshift.deploy.yml
  database/openshift.deploy.yml
  frontend/openshift.deploy.yml
  oracle-api/openshift.deploy.yml
Labels: devops

#1501 chore(ci): only PRs use TEST_MODE=true
  .github/workflows/.deploy.yml
Labels: devops

#1507 chore(ci): add common to pr-close promotions
  .github/workflows/pr-close.yml
Labels: devops

#1509 chore(ci): dial up TEST and PROD DB PVCs
  database/openshift.deploy.yml
Labels: devops

#1502 chore(ci): build_number var in sync
  .github/workflows/.deploy.yml
  .github/workflows/demo.yml
  .github/workflows/job-sync.yml
  .github/workflows/pr-open.yml
  sync/Dockerfile
  sync/oc_run.sh
  sync/openshift.deploy.yml
Labels: bug, devops

#1510 chore(ci): set minimum replicas and loosen liveness probes
  .github/workflows/.deploy.yml
  backend/openshift.deploy.yml
  database/openshift.deploy.yml
  frontend/Dockerfile
  frontend/openshift.deploy.yml
  oracle-api/openshift.deploy.yml
Labels: devops

#1512 chore(ci): consolidate oracle-api and common containers
  .github/workflows/merge.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  common/Dockerfile
  oracle-api/.eslintrc.json
  oracle-api/CHANGELOG.md
  oracle-api/CODE_OF_CONDUCT.md
  oracle-api/COMPLIANCE.yaml
  oracle-api/Dockerfile
  oracle-api/LICENSE.md
  oracle-api/SECURITY.md
  oracle-api/install_cert.sh
  oracle-api/mvnw.cmd
  oracle-api/openshift.deploy.yml
Labels: devops

#1515 chore(ci): disable etl retries, script revisions
  .github/workflows/.deploy.yml
  .github/workflows/job-sync.yml
  sync/oc_run.sh
  sync/openshift.deploy.yml
Labels: devops

#1517 chore(ci): sync test_mode=true for prod
  .github/workflows/.deploy.yml
Labels: devops

#1518 chore(ci): increase TEST and PROD DB PVCs
  database/openshift.deploy.yml
Labels: devops

#1522 fix(ci): missing checkout for ETL run
  .github/workflows/job-sync.yml
Labels: bug

#1523 chore(ci): use vanilla postgres container
  .github/workflows/.deploy.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  backend/openshift.deploy.yml
  common/init_db/init.sql
  common/openshift.database.yml
  common/openshift.init.yml
  database/Dockerfile
  docker-compose.yml
  oracle-api/openshift.deploy.yml
Labels: devops

#1525 fix(ci): remove straggling database promotion
  .github/workflows/merge.yml
Labels: bug, devops

#1528 feat(ci): include build numbers in container envars
  backend/Dockerfile
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  frontend/Dockerfile
  frontend/src/views/Seedlot/SeedlotReview/SeedlotReviewContent.tsx
  oracle-api/Dockerfile
Labels: devops

#1531 chore(ci): TEST_MODE=true for PRs only
  .github/workflows/.deploy.yml
Labels: devops

#1533 chore(ci): PROD ETL
  .github/workflows/job-sync.yml
  .github/workflows/release.yml
  sync/oc_run.sh
Labels: devops, feature

#1534 chore(deps): node-sass deprecation
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#1537 fix(ci): run ETL on TEST and PROD in parallel, not series
  .github/workflows/job-sync.yml
Labels: bug, devops

#1544 fix(ci): force deployments updates
  backend/openshift.deploy.yml
  frontend/openshift.deploy.yml
  oracle-api/openshift.deploy.yml
Labels: bug, devops

#1456 feat: 1446 cone and pollen count step 5
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-collection-interim.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-orchard.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-parent-tree-part-1.cy.ts
  frontend/cypress/e2e/smoke-test/my-seedlots.cy.ts
  frontend/cypress/fixtures/Seedlot_composition_template.csv
  frontend/cypress/fixtures/aclass-reg-form.json
  frontend/cypress/support/commands.ts
Labels: front-end, test

#1558 fix(ci): SQL formatting for CodeQL
  legacy_translated/SPR_SEEDLOT.ts
Labels: bug

#1570 fix: add client id to concrete roles
  backend/src/main/java/ca/bc/gov/backendstartapi/config/Constants.java
  backend/src/main/java/ca/bc/gov/backendstartapi/security/JwtSecurityUtil.java
Labels: back-end
