Repository bcgov/nr-spar, pull requests merged in 2024-06, with the labels that each got.

#1145 feat: development of seedlot review step 5 interim storage
  frontend/src/components/LotApplicantAndInfoForm/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/index.tsx
  frontend/src/components/SeedlotReviewSteps/Interim/Edit/index.tsx
  frontend/src/components/SeedlotReviewSteps/Interim/Read/index.tsx
  frontend/src/shared-constants/shared-constants.ts
  frontend/src/types/InterimAgencyInfo.ts
  frontend/src/types/InterimStorageRegistration.ts
  frontend/src/types/StorageInfo.ts
  frontend/src/views/Seedlot/SeedlotRegFormClassA/RegForm.tsx
  frontend/src/views/Seedlot/SeedlotReview/index.tsx
Labels: front-end

#1194 chore(ci): add backend verification waits/retries
  .github/workflows/.deploy.yml
  .github/workflows/.tests.yml
Labels: devops

#1186 feat: 1040 seedlot reg form step 1 and 3 tests
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-collection-interim.cy.ts
  frontend/cypress/fixtures/aclass-reg-form.json
Labels: front-end, test

#1203 fix: use SPAR bec catalogue for retrieving bec description
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/BecZoneCodeEntity.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/SparBecCatalogueEntity.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/BecZoneCodeRepository.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/SparBecCatalogueRepository.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/service/OrchardService.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/service/SparBecCatalogueService.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/service/OrchardServiceTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/service/SparBecCatalogueServiceTest.java
Labels: back-end

#1197 feat: 836 development of seedlot review step 8 extraction and storage
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/components/SeedlotReviewSteps/ExtractionStorage/Edit/index.tsx
  frontend/src/components/SeedlotReviewSteps/ExtractionStorage/Read/index.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/utils.ts
  frontend/src/views/Seedlot/SeedlotReview/index.tsx
Labels: front-end

#1206 fix: 1200 update my seedlots page to use get seedlot by client
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/security/UserInfo.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotServiceTest.java
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-collection-interim.cy.ts
  frontend/cypress/fixtures/aclass-reg-form.json
  frontend/src/api-service/forestClientsAPI.ts
  frontend/src/api-service/seedlotAPI.ts
  frontend/src/components/SeedlotTable/index.tsx
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/BecZoneCodeEntity.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/SparBecCatalogueEntity.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/BecZoneCodeRepository.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/SparBecCatalogueRepository.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/service/OrchardService.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/service/SparBecCatalogueService.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/service/OrchardServiceTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/service/SparBecCatalogueServiceTest.java
Labels: full-stack

#1216 chore(ci): ETL TEST_MODE=0
  .github/workflows/.deploy.yml
  sync/openshift.deploy.yml
Labels: devops

#1218 chore(ci): point backend PR link to swagger
  .github/workflows/pr-validate.yml
Labels: devops

#1199 feat: 855 development of seedlot review step 3 area of use
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/CodeDescriptionDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SeedPlanZoneDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SeedlotDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/seedlot/Seedlot.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/GeneticWorthService.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/ConeCollectionMethodEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/GeneticClassEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/GeneticWorthEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotStatusEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/ConeCollectionMethodServiceTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/GeneticClassServiceTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/GeneticWorthServiceTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotServiceTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotSourceServiceTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotStatusServiceTest.java
  frontend/cypress.config.ts
  frontend/cypress/fixtures/aclass-seedlot.json
  frontend/cypress/support/commands.ts
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/areaOfUseAPI.ts
  frontend/src/api-service/seedlotAPI.ts
  frontend/src/components/ReadOnlyInput/index.tsx
  frontend/src/components/SeedlotReviewSteps/AreaOfUse/AddtionalSpzItem.tsx
  frontend/src/components/SeedlotReviewSteps/AreaOfUse/Edit/index.tsx
  frontend/src/components/SeedlotReviewSteps/AreaOfUse/Read/index.tsx
  frontend/src/components/SeedlotReviewSteps/AreaOfUse/SeedMapSection.tsx
  frontend/src/components/SeedlotReviewSteps/AreaOfUse/constants.ts
  frontend/src/components/SeedlotReviewSteps/AreaOfUse/definitions.ts
  frontend/src/components/SeedlotReviewSteps/AreaOfUse/utils.ts
  frontend/src/styles/custom.scss
  frontend/src/types/GeospatialTypes.ts
  frontend/src/types/SeedlotType.ts
  frontend/src/utils/GeospatialUtils.ts
  frontend/src/views/Seedlot/ContextContainerClassA/constants.ts
  frontend/src/views/Seedlot/ContextContainerClassA/context.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/definitions.ts
  frontend/src/views/Seedlot/ContextContainerClassA/index.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/utils.ts
  frontend/src/views/Seedlot/EditAClassApplication/Form.tsx
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotReview/index.tsx
  frontend/src/views/Seedlot/SeedlotReview/styles.scss
Labels: full-stack

#1204 feat: 1141 ownership cypress test
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-collection-interim.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-ownership.cy.ts
  frontend/cypress/fixtures/aclass-reg-form.json
Labels: front-end, test

#1214 feat: 1201 adding submit daclaration info
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotFormPutTest.java
Labels: back-end

#1205 feat: 815 seedlot review table for tsc admin
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/tscAdminAPI.ts
  frontend/src/components/SeedlotTable/Table.tsx
  frontend/src/components/SeedlotTable/constants.ts
  frontend/src/components/SeedlotTable/definitions.ts
  frontend/src/components/SeedlotTable/index.tsx
  frontend/src/config/FavouriteActivitiyMap.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/routes/constants.ts
  frontend/src/routes/index.tsx
  frontend/src/shared-constants/shared-constants.ts
  frontend/src/types/SeedlotType.ts
  frontend/src/utils/SeedlotUtils.ts
  frontend/src/views/Seedlot/ReviewSeedlots/index.tsx
  frontend/src/views/Seedlot/ReviewSeedlots/styles.scss
  frontend/src/views/Seedlot/SeedlotDashboard/RecentSeedlots/constants.ts
  frontend/src/views/Seedlot/SeedlotDashboard/RecentSeedlots/index.tsx
  frontend/src/views/Seedlot/SeedlotDashboard/RecentSeedlots/styles.scss
Labels: front-end

#1238 chore(deps): ws alerts
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#1239 chore(ci): override braces for security alerts
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#1244 feat: Added pgadmin to compose
  docker-compose.yml
Labels: devops, feature

#1247 fix(ci): explicitly scrub needs for failures
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
Labels: bug, devops

#1248 feat(ci): set up sync in Docker Compose
  .gitignore
  docker-compose.data.yml
  docker-compose.yml
  sync/Dockerfile
Labels: devops, feature

#1249 feat(ci): Postgis and Flyway
  backend/pom.xml
  docker-compose.yml
Labels: bug, dependencies

#1225 feat: 1221 spz list endpoint modification
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/OracleApiProvider.java
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/areaOfUseAPI.ts
  frontend/src/components/SeedlotReviewSteps/AreaOfUse/Edit/index.tsx
  frontend/src/components/SeedlotReviewSteps/AreaOfUse/Read/index.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/GenWorth.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/GeoInfo.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/constants.ts
  frontend/src/components/SeedlotReviewSteps/Collection/utils.ts
  frontend/src/shared-constants/shared-constants.ts
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/endpoint/AreaOfUseEndpoint.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/endpoint/OrchardEndpoint.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/SeedPlanZone.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/SeedPlanZoneRepository.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/TestedPtAreaOfUseSpzRepository.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/service/AreaOfUseService.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/service/OrchardService.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/endpoint/AreaOfUseEndpointTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/endpoint/OrchardEndpointTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/service/AreaOfUseServiceTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/service/OrchardServiceTest.java
Labels: back-end

#1224 feat: 1222 spu endpoint
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SeedlotDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/oracle/SpuDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/OracleApiProvider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/Provider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SeedlotOrchardRepository.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotOrchardService.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/provider/OracleApiProviderTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotOrchardServiceTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotServiceTest.java
  frontend/src/types/SeedlotType.ts
  frontend/src/types/SpuDto.ts
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/dto/SpuDto.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedPlanUnitEndpoint.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/exception/SpzNotFoundException.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/service/SeedPlanUnitService.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedPlanUnitEndpointTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/service/SeedPlanUnitServiceTest.java
Labels: back-end

#1260 chore(ci): Renovate exclude vite-plugin-istanbul
  renovate.json
Labels: dependencies, devops

#1287 chore(deps): override braces from 3.0.2 to 3.0.3 for alert
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#1289 feat: 1211 display and edit bec values
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotFormPutTest.java
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/utils.ts
  frontend/src/components/SeedlotReviewSteps/AreaOfUse/utils.ts
  frontend/src/components/SeedlotReviewSteps/Collection/GeoInfo.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/Read/index.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/constants.ts
  frontend/src/components/SeedlotReviewSteps/Collection/utils.ts
  frontend/src/utils/NumberUtils.ts
  frontend/src/views/Seedlot/ContextContainerClassA/context.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/index.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/utils.ts
  frontend/src/views/Seedlot/SeedlotReview/constants.ts
  frontend/src/views/Seedlot/SeedlotReview/definitions.ts
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/service/SeedPlanUnitService.java
Labels: full-stack
