Repository bcgov/nr-spar, pull requests merged in 2024-03, with the labels that each got.

#877 Feat/806 update seedlot get endpoint to fetch parent tree information
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SeedlotAclassFormDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/SmpMix.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotGeneticWorthService.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotParentTreeGeneticQualityService.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotParentTreeSmpMixService.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SmpMixGeneticQualityService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotServiceTest.java
Labels: back-end

#890 Fix/882 frontend responsiveness updates
  frontend/src/components/Card/FavouriteCard/index.tsx
  frontend/src/components/Card/SmallCard/index.tsx
  frontend/src/components/Card/SmallCard/styles.scss
  frontend/src/components/Card/StandardCard/index.tsx
  frontend/src/components/Card/StandardCard/styles.scss
  frontend/src/components/FavouriteActivities/index.tsx
  frontend/src/components/FavouriteActivities/styles.scss
  frontend/src/components/SeedlotActivities/constants.ts
  frontend/src/components/SeedlotActivities/index.tsx
  frontend/src/components/SeedlotActivities/styles.scss
  frontend/src/components/StatusTag/styles.scss
  frontend/src/views/Seedlot/MySeedlots/index.tsx
  frontend/src/views/Seedlot/MySeedlots/styles.scss
  frontend/src/views/Seedlot/SeedlotDashboard/RecentSeedlots/styles.scss
  frontend/src/views/Seedlot/SeedlotDashboard/index.tsx
  frontend/src/views/Seedlot/SeedlotDashboard/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/SeedlotSummary/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/SeedlotSummary/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
Labels: front-end

#900 Fix/899 adapt to encoras new vpn policy
  backend/encora-cert.sh
  docker-compose.yml
Labels: devops

#913 Feat/798 fill in seedlot form with seedlot table data for submitted seedlots
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SeedlotAclassFormDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotFormPutTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SeedlotServiceTest.java
  frontend/src/api-service/seedlotAPI.ts
  frontend/src/components/ApplicantAgencyFields/definitions.ts
  frontend/src/components/ApplicantAgencyFields/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/utils.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/types/SeedlotType.ts
  frontend/src/views/Seedlot/SeedlotDetails/FormProgress/index.tsx
  frontend/src/views/Seedlot/SeedlotRegFormClassA/ClassAContext.tsx
  frontend/src/views/Seedlot/SeedlotRegFormClassA/constants.ts
  frontend/src/views/Seedlot/SeedlotRegFormClassA/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegFormClassA/index.tsx
  frontend/src/views/Seedlot/SeedlotRegFormClassA/utils.ts
Labels: full-stack

#919 Feat/916 cypress test on seedlot detail page
  backend/src/main/resources/application.properties
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/create-a-class-seedlot.cy.ts
  frontend/cypress/e2e/smoke-test/edit-applicant-seedlot-info.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-detail.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-main-page.cy.ts
  frontend/cypress/fixtures/applicant-info-change.json
  frontend/cypress/fixtures/default-seedlot-detail.json
  frontend/cypress/fixtures/forest-clients.json
  frontend/cypress/fixtures/seedlot-source.json
  frontend/cypress/fixtures/user_seedlots.json
  frontend/cypress/support/e2e.ts
Labels: test

#838 Fix/837 client search improvements
  frontend/src/components/ApplicantAgencyFields/index.tsx
  frontend/src/components/ClientSearchTable/index.tsx
  frontend/src/components/ClientSearchTable/utils.ts
  frontend/src/utils/ForestClientUtils.ts
Labels: full-stack, devops

#926 Fix/Test change
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/config/SwaggerConfig.java
Labels: devops

#928 Fix/oracle missing endpoints
  .github/workflows/pr-open.yml
Labels: devops

#933 fix(ci): loads of pvc capacity emails about fluentbit
  common/openshift.fluentbit.yml
Labels: devops

#911 Fix/use smallcard for fav activity cards 2
  frontend/src/components/Card/FavouriteCard/index.tsx
  frontend/src/components/Card/FavouriteCard/styles.scss
  frontend/src/components/Card/SmallCard/index.tsx
  frontend/src/components/Card/SmallCard/styles.scss
Labels: front-end

#945 chore(deps): vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#946 chore(ci): bump PR db PVC size to silence nag emails
  .github/workflows/pr-open.yml
  database/openshift.deploy.yml
Labels: refactor

#936 Fix/github work flow
  .github/workflows/merge.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SwaggerConfig.java
  frontend/index.html
  frontend/openshift.deploy.yml
Labels: devops

#924 Feat/916 cypress test on seedlot detail page
  backend/src/main/resources/application.properties
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/create-a-class-seedlot.cy.ts
  frontend/cypress/e2e/smoke-test/edit-applicant-seedlot-info.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-detail.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-main-page.cy.ts
  frontend/cypress/fixtures/applicant-info-change.json
  frontend/cypress/fixtures/default-seedlot-detail.json
  frontend/cypress/fixtures/forest-clients.json
  frontend/cypress/fixtures/seedlot-source.json
  frontend/cypress/fixtures/user_seedlots.json
  frontend/cypress/support/e2e.ts
Labels: test
