Repository bcgov/nr-spar, pull requests merged in 2024-05, with the labels that each got.

#1084 feat: 1039 update seedlot related tests to use stored variable
  frontend/cypress/e2e/smoke-test/create-a-class-seedlot.cy.ts
  frontend/cypress/e2e/smoke-test/edit-applicant-seedlot-info.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-dashboard.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-detail.cy.ts
  frontend/cypress/fixtures/aclass-seedlot-example.json
  frontend/cypress/fixtures/aclass-seedlot.json
Labels: refactor, test

#1089 chore(ci): remove triggers in pr-validate.yml
  .github/workflows/pr-validate.yml
Labels: devops

#1118 fix(ci): improve results jobs/blocks
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: bug, devops

#1121 fix(ci): dc version is obsolete
  docker-compose-test.yml
  docker-compose.yml
Labels: dependencies, devops

#1119 chore(ci): build and deploy nr-spar-data's sync
  .github/workflows-data/.deploy.yml
  .github/workflows-data/analysis.yml
  .github/workflows-data/merge.yml
  .github/workflows-data/pr-close.yml
  .github/workflows-data/pr-open.yml
  .github/workflows-data/pr-validate.yml
  .github/workflows-data/scheduled.yml
  .github/workflows/.deploy.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  common/openshift.init.yml
  sync/openshift.deploy.yml
Labels: devops

#1123 feat(ci): enable ETL w/ param in deployer
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
  common/openshift.init.yml
Labels: devops, feature

#1128 feat: Including ETL_TABLE changes and first processes to be executed
  backend/src/main/resources/db/migration/V33__ETL_tool_monitoring_tables_update.sql
Labels: devops, feature

#1149 fix: Dockerfile for ETL Tool deployment
  .github/workflows/.deploy.yml
  docker-compose.data.yml
  sync/Dockerfile
  sync/openshift.deploy.yml
  sync/src/main.py
Labels: bug, devops

#1131 feat: my seedlot cypress test 3
  frontend/cypress.config.ts
  frontend/cypress/constants.ts
  frontend/cypress/e2e/smoke-test/create-a-class-seedlot.cy.ts
  frontend/cypress/e2e/smoke-test/my-seedlots.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-dashboard.cy.ts
  frontend/src/components/Card/FavouriteCard/index.tsx
  frontend/src/components/FavouriteActivities/index.tsx
Labels: front-end, test

#1096 fix: 1038 update the agency selection input
  frontend/cypress/definitions.ts
  frontend/cypress/e2e/smoke-test/create-a-class-seedlot.cy.ts
  frontend/cypress/fixtures/aclass-seedlot.json
  frontend/src/api-service/forestClientsAPI.ts
  frontend/src/components/ApplicantAgencyFields/constants.ts
  frontend/src/components/ApplicantAgencyFields/index.tsx
  frontend/src/components/ApplicantAgencyFields/styles.scss
  frontend/src/components/BCHeader/UserButton.tsx
  frontend/src/components/LotApplicantAndInfoForm/styles.scss
  frontend/src/components/OrganizationSelection/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/Read/index.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/index.tsx
  frontend/src/views/Seedlot/CreateAClass/constants.ts
  frontend/src/views/Seedlot/EditAClassApplication/Form.tsx
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
Labels: front-end

#1151 fix(ci): add run attempt to job runs, avoiding retry collisions
  .github/workflows/.deploy.yml
  sync/openshift.deploy.yml
Labels: bug, devops

#1163 fix(ci): disable ETL
  .github/workflows/.deploy.yml
Labels: bug, devops

#1168 fix: rename v35 migration file
  backend/src/main/resources/db/migration/V35__seedlot_orchard_primary_ind.sql
Labels: bug

#1170 chore(ci): drop image streams
  backend/openshift.deploy.yml
  database/openshift.deploy.yml
  frontend/openshift.deploy.yml
  oracle-api/openshift.deploy.yml
Labels: bug, devops

#1172 chore(ci): replace deploymentconfigs with deployments
  backend/openshift.deploy.yml
  common/openshift.fluentbit.yml
  database/openshift.deploy.yml
  frontend/openshift.deploy.yml
  oracle-api/openshift.deploy.yml
Labels: devops

#1177 fix: 1175 refactor client and location logic
  frontend/src/components/ApplicantAgencyFields/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/definitions.ts
  frontend/src/views/Seedlot/ContextContainerClassA/index.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/utils.ts
Labels: front-end

#1126 feat: development of seedlot review step 4 ownership
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/utils.ts
  frontend/src/components/SeedlotReviewSteps/Ownership/Edit/index.tsx
  frontend/src/components/SeedlotReviewSteps/Ownership/Read/index.tsx
  frontend/src/views/Seedlot/SeedlotReview/index.tsx
Labels: front-end

#1185 feat: 834 development of seedlot review step 6 orchard
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/styles.scss
  frontend/src/components/SeedlotReviewSteps/Orchard/Edit/index.tsx
  frontend/src/components/SeedlotReviewSteps/Orchard/Read/index.tsx
  frontend/src/views/Seedlot/SeedlotReview/index.tsx
Labels: front-end
