Repository bcgov/nr-spar, pull requests merged in 2024-04, with the labels that each got.

#950 Feat/915 step 5 style changes part 1
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/styles.scss
  frontend/src/layout/PrivateLayout/styles.scss
Labels: front-end

#956 Feat/832 development of seedlot review step 2 collection
  frontend/cypress/e2e/smoke-test/seedlot-detail.cy.ts
  frontend/src/api-service/coneCollectionMethodAPI.ts
  frontend/src/components/LotApplicantAndInfoForm/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotReviewSteps/ApplicantAndSeedlot/Edit/index.tsx
  frontend/src/components/SeedlotReviewSteps/ApplicantAndSeedlot/Read/index.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/Edit/index.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/GenWorth.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/GeoInfo.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/Read/index.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/constants.ts
  frontend/src/components/SeedlotReviewSteps/Collection/utils.ts
  frontend/src/types/CodeDescResType.ts
  frontend/src/views/Seedlot/ContextContainerClassA/context.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/index.tsx
  frontend/src/views/Seedlot/SeedlotReview/constants.ts
  frontend/src/views/Seedlot/SeedlotReview/context.ts
  frontend/src/views/Seedlot/SeedlotReview/definitions.ts
  frontend/src/views/Seedlot/SeedlotReview/index.tsx
  frontend/src/views/Seedlot/SeedlotReview/styles.scss
Labels: front-end

#969 fix(ci): tag_fallback
  .github/workflows/pr-open.yml
Labels: bug

#972 fix(ci): main merge tags
  .github/workflows/merge.yml
Labels: bug

#975 fix(ci): checks, conditionals and main workflow dispatch
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: feature

#981 fix(ci): sonar cloud and update workflows
  .github/workflows/analysis.yml
  .github/workflows/merge.yml
Labels: devops, feature

#983 deps: tar
  frontend/package-lock.json
  frontend/package.json
Labels: dependencies

#985 fix: frontend sonar cloud
  .github/workflows/.tests.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
  frontend/tsconfig.json
Labels: bug, devops

#986 fix(ci): var in main.yml cypress
  .github/workflows/merge.yml
Labels: bug

#1002 Feat/998 user role selection after login
  frontend/cypress.config.ts
  frontend/cypress/support/commands.ts
  frontend/src/App.tsx
  frontend/src/components/EmptySection/index.tsx
  frontend/src/components/MyProfile/index.tsx
  frontend/src/components/RoleSelection/OrganizationItem.tsx
  frontend/src/components/RoleSelection/constants.ts
  frontend/src/components/RoleSelection/definitions.ts
  frontend/src/components/RoleSelection/index.tsx
  frontend/src/components/RoleSelection/styles.scss
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/index.tsx
  frontend/src/types/FamUser.ts
  frontend/src/types/UserRoleType.ts
  frontend/src/views/LoginRoleSelection/constants.ts
  frontend/src/views/LoginRoleSelection/index.tsx
  frontend/src/views/LoginRoleSelection/styles.scss
Labels: front-end

#995 chore(ci): workflow updates
  .github/workflows/analysis.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
Labels: devops

#1008 chore(ci): scheduled job
  .github/workflows/pr-close.yml
  .github/workflows/scheduled.yml
Labels: devops, feature

#1011 chore(ci): disable cypress outside of PRs
  .github/workflows/merge.yml
  .github/workflows/scheduled.yml
Labels: bug

#1016 feat: 999 role switching screen
  frontend/src/App.tsx
  frontend/src/assets/img/emptyUser.jpg
  frontend/src/components/Avatar/index.tsx
  frontend/src/components/Avatar/style.scss
  frontend/src/components/AvatarImage/index.tsx
  frontend/src/components/AvatarImage/style.scss
  frontend/src/components/BCHeader/UserButton.tsx
  frontend/src/components/BCHeader/constants.ts
  frontend/src/components/BCHeader/definitions.ts
  frontend/src/components/BCHeader/index.tsx
  frontend/src/components/BCHeader/styles.scss
  frontend/src/components/MyProfile/index.tsx
  frontend/src/components/MyProfile/style.scss
  frontend/src/components/OrganizationSelection/OrganizationItem.tsx
  frontend/src/components/OrganizationSelection/constants.ts
  frontend/src/components/OrganizationSelection/definitions.ts
  frontend/src/components/OrganizationSelection/index.tsx
  frontend/src/components/OrganizationSelection/styles.scss
  frontend/src/components/PanelSectionName/styles.scss
  frontend/src/components/Participants/index.tsx
  frontend/src/components/Participants/styles.scss
  frontend/src/components/RightPanelTitle/index.tsx
  frontend/src/components/RightPanelTitle/styles.scss
  frontend/src/contexts/AuthProvider.tsx
  frontend/src/mock-server/fixtures/MySeedlotsItems.ts
  frontend/src/views/LoginOrgSelection/index.tsx
  frontend/src/views/LoginOrgSelection/styles.scss
  frontend/src/views/LoginRoleSelection/constants.ts
  frontend/src/views/LoginRoleSelection/index.tsx
Labels: front-end

#1007 feat: 961 seedlot detail and edit applicant info page test update
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/edit-applicant-seedlot-info.cy.ts
  frontend/cypress/fixtures/applicant-info-change.json
  frontend/cypress/fixtures/forest-clients.json
  frontend/cypress/fixtures/seedlot-source.json
  frontend/cypress/fixtures/vegetation-code.json
  frontend/cypress/support/e2e.ts
Labels: refactor, test

#1045 feat: 459 smp calculation mix api integration with front end
  backend/src/main/java/ca/bc/gov/backendstartapi/config/NativeImageConfig.java
  frontend/src/components/DescriptionBox/index.tsx
  frontend/src/components/DetailSection/index.tsx
  frontend/src/components/InfoSection/InfoSectionColumn/index.tsx
  frontend/src/components/InfoSection/InfoSectionRow/index.tsx
  frontend/src/components/InfoSection/index.tsx
  frontend/src/components/NotificationsCentral/style.scss
  frontend/src/components/ReadOnlyInput/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/CalculateMetrics.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/InfoSectionDivider.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
  frontend/src/layout/PrivateLayout/styles.scss
  frontend/src/types/PtCalcTypes.ts
  frontend/src/views/LoginOrgSelection/styles.scss
  frontend/src/views/Seedlot/ContextContainerClassA/context.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/SeedlotSummary/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/SeedlotSummary/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/styles.scss
Labels: front-end

#1052 fix: make profile and notification panel scrollable
  frontend/src/components/BCHeader/styles.scss
Labels: front-end

#1047 feat: remove mirage
  frontend/README.md
  frontend/cypress/e2e/smoke-test/dashboard-page.cy.ts
  frontend/cypress/fixtures/dashboard-page.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/applicantAgenciesAPI.ts
  frontend/src/api-service/filesAndDocsAPI.ts
  frontend/src/api-service/fixtures/ApplicantAgenciesItems.ts
  frontend/src/api-service/forestClientsAPI.ts
  frontend/src/api-service/recentActivitiesAPI.ts
  frontend/src/components/Card/StandardCard/index.tsx
  frontend/src/components/RecentActivities/index.tsx
  frontend/src/components/SeedlotCards/constants.ts
  frontend/src/components/SeedlotCards/index.tsx
  frontend/src/components/SeedlotCards/styles.scss
  frontend/src/index.tsx
  frontend/src/mock-server/config.ts
  frontend/src/mock-server/endpoints/ApplicantAgencyEndpoint.ts
  frontend/src/mock-server/endpoints/FilesAndDocsEndpoint.ts
  frontend/src/mock-server/endpoints/GeneticClassesEndpoints.ts
  frontend/src/mock-server/endpoints/OrchardsEndpoint.ts
  frontend/src/mock-server/endpoints/RecentActivitiesEndpoints.ts
  frontend/src/mock-server/endpoints/index.ts
  frontend/src/mock-server/fixtures/ActivityHistoryItems.ts
  frontend/src/mock-server/fixtures/FavouriteActivitiesCardItems.ts
  frontend/src/mock-server/fixtures/FilesDocsItems.ts
  frontend/src/mock-server/fixtures/GeneticClasses.ts
  frontend/src/mock-server/fixtures/Orchards.ts
  frontend/src/mock-server/fixtures/RecentActivityItems.ts
  frontend/src/mock-server/fixtures/index.ts
  frontend/src/mock-server/models/index.ts
  frontend/src/mock-server/schema.ts
  frontend/src/mock-server/server.ts
  frontend/src/views/Dashboard/dashboard.tsx
  frontend/src/views/Seedlot/SeedlotDashboard/index.tsx
Labels: front-end

#1053 chore(deps): oracle base
  backend/.dockerignore
Labels: dependencies

#1058 chore(ci): workflow updates
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
Labels: devops, feature

#1059 chore(ci): roll tests into .deploy.yml
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
Labels: devops

#1060 chore(ci): .deploy.yml for TEST and PROD
  .github/workflows/.deploy.yml
  .github/workflows/.tests.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: devops

#1070 fix(ci): drop brackets from PR template for dynamic lookup
  .github/pull_request_template.md
  README.md
Labels: devops

#1071 feat(ci): add workflow_dispatch and ref=demo to merge.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: devops

#1079 fix(ci): merge break on toUpperCase()
  .github/workflows/merge.yml
Labels: bug, devops

#1081 fix(ci): remove env.target where not allowed
  .github/workflows/merge.yml
Labels: bug, devops
