Repository bcgov/nr-spar, pull requests merged in 2024-09, with the labels that each got.

#1587 chore(ci): drop unnecessary release workflow
  .github/workflows/release.yml
Labels: devops

#1597 chore(ci): set PROD oracle-api replicas to 3-5
  .github/workflows/.deploy.yml
Labels: devops

#1598 chore(ci): update codeowners
  .github/codeowners
Labels: devops

#1620 chore(ci): remove oc override
  .github/workflows/.deploy.yml
  sync/junk.out
Labels: devops

#1599 feat: 1594 adjustments for orchard screen
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-orchard.cy.ts
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/OrchardWarnModal/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
Labels: front-end, test

#1648 chore(ci): ubuntu-24.04 runner oc changes
  .github/workflows/demo.yml
  .github/workflows/job-nightly.yml
  .github/workflows/job-sync.yml
  sync/junk.out
Labels: dependencies, devops
