Repository bcgov/nr-spar, pull requests merged in 2024-10, with the labels that each got.

#1546 feat: 1454 smp success on parent step 5
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-collection-interim.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-extraction.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-orchard.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-ownership.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-parent-tree-part-1.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-parent-tree-part-2.cy.ts
  frontend/cypress/e2e/smoke-test/seedlot-dashboard.cy.ts
  frontend/cypress/fixtures/Seedlot_composition_template_02.csv
  frontend/cypress/fixtures/aclass-reg-form.json
Labels: front-end, test

#1660 feat: 1579 calculation of smp mix step 5
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-parent-tree-part-2.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-parent-tree-part-3.cy.ts
  frontend/cypress/fixtures/Seedlot_composition_template_03.csv
  frontend/cypress/fixtures/aclass-reg-form.json
Labels: front-end, test

#1682 chore(ci): codeowners updates
  .github/codeowners
Labels: devops

#1681 chore(ci): split TEST and PROD ETL jobs
  .github/workflows/etl-prod.yml
  .github/workflows/etl-test.yml
Labels: devops

#1663 feat: 1520 404 page not found screen development
  frontend/src/App.tsx
  frontend/src/assets/img/404-mystery.png
  frontend/src/assets/img/SPAR_404_error.svg
  frontend/src/components/BCHeader/index.tsx
  frontend/src/views/ErrorViews/FourOhFour/constants.ts
  frontend/src/views/ErrorViews/FourOhFour/index.tsx
  frontend/src/views/ErrorViews/FourOhFour/styles.scss
Labels: full-stack
