Repository bcgov/nr-spar, pull requests merged in 2024-07, with the labels that each got.

#1315 fix: test deployments
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
Labels: bug, devops

#1317 fix: oracle dialect
  .github/workflows/.deploy.yml
  common/openshift.init.yml
  oracle-api/openshift.deploy.yml
  oracle-api/src/main/resources/application.properties
  sync/openshift.deploy.yml
Labels: bug, devops

#1322 fix(ci): handle ORACLE_SERVICE with GH secrets
  .github/workflows/.deploy.yml
Labels: bug, devops

#1328 chore(ci): simplify
  .github/workflows/.deploy.yml
  common/openshift.init.yml
  docker-compose-test.yml
Labels: devops

#1330 chore(ci): Run FluentBit in TEST and PROD only
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  backend/openshift.deploy.yml
  backend/src/main/resources/application.properties
  common/openshift.fluentbit.yml
  common/openshift.init.yml
  oracle-api/openshift.deploy.yml
  oracle-api/src/main/resources/application.properties
Labels: devops, feature

#1332 chore(ci): revisit probes
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  backend/openshift.deploy.yml
  common/openshift.init.yml
  database/openshift.deploy.yml
  frontend/openshift.deploy.yml
  oracle-api/openshift.deploy.yml
Labels: devops

#1336 fix(ci): params for merge.yml
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  common/openshift.fluentbit.yml
Labels: bug, devops

#1329 feat: 1078 make save changes a global cypress func
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-collection-interim.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-ownership.cy.ts
  frontend/cypress/global.d.ts
  frontend/cypress/support/commands.ts
Labels: refactor, front-end

#1340 chore(ci): conditional deployments
  .github/workflows/pr-open.yml
Labels: devops, feature

#1320 feat: 835 development of seedlot review step 7 parent tree contribution
  frontend/src/components/InfoSection/InfoSectionRow/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/CalculateMetrics.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/EditGenWorth.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/PopSize.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/SpatialData.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/UnrelatedGenWorth.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
  frontend/src/components/SeedlotReviewSteps/Collection/Edit/index.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/GenWorth.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/GeoInfo.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/Read/index.tsx
  frontend/src/components/SeedlotReviewSteps/Collection/constants.ts
  frontend/src/components/SeedlotReviewSteps/Collection/utils.ts
  frontend/src/components/SeedlotReviewSteps/ParentTrees/index.tsx
  frontend/src/components/SeedlotReviewSteps/ParentTrees/styles.scss
  frontend/src/components/SeedlotReviewSteps/ParentTrees/utils.ts
  frontend/src/views/Seedlot/ContextContainerClassA/context.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/index.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/utils.ts
  frontend/src/views/Seedlot/SeedlotReview/index.tsx
  frontend/src/views/Seedlot/SeedlotReview/styles.scss
Labels: front-end

#1337 feat: creating new audit review section
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/seedlot/Seedlot.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
  frontend/src/components/SeedlotReviewSteps/AuditInfo/index.tsx
  frontend/src/types/SeedlotType.ts
  frontend/src/views/Seedlot/SeedlotReview/index.tsx
Labels: full-stack

#1358 chore(ci): sync vars
  .github/workflows/.deploy.yml
  docker-compose.yml
  sync/openshift.deploy.yml
Labels: devops

#1362 chore(ci): split out sync envars
  .github/workflows/.deploy.yml
  common/openshift.init.yml
  docker-compose.yml
  sync/src/main.py
Labels: bug, devops

#1364 chore(ci): more password revisions
  sync/openshift.deploy.yml
Labels: bug

#1371 feat: adding Prometheus support
  backend/openshift.deploy.yml
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/backendstartapi/BackendStartApiApplication.java
  backend/src/main/java/ca/bc/gov/backendstartapi/config/NativeImageConfig.java
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SparMetricsConfig.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/logback-spring.xml
Labels: feature

#1372 feat(ci): drop fluentbit
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  backend/README.md
  backend/openshift.deploy.yml
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SparMetricsConfig.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
  common/openshift.fluentbit.yml
  common/openshift.init.yml
  docker-compose.yml
  oracle-api/openshift.deploy.yml
  oracle-api/src/main/resources/logback-spring.xml
Labels: dependencies, devops, feature

#1376 chore(deps): remove Java inbuilt docker compose
  backend/README.md
  backend/pom.xml
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SecurityConfig.java
  backend/src/main/java/ca/bc/gov/backendstartapi/config/SecurityConfigDev.java
  backend/src/main/java/ca/bc/gov/backendstartapi/security/UserAuthenticationHelper.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/docker-compose-dev.yml
Labels: dependencies, devops

#1379 chore: sonarcloud reliability warnings
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SeedlotService.java
Labels: devops, tech-debt

#1382 chore(ci): straighten out passwords
  .github/workflows/.deploy.yml
  .github/workflows/.tests.yml
  .github/workflows/cypress-nightly.yml
  frontend/CONTRIBUTING.md
Labels: documentation, devops, tech-debt

#1352 feat: adding validation for gen worth fields
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/EditGenWorth.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/UnrelatedGenWorth.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/context.tsx
  frontend/src/views/Seedlot/ContextContainerClassA/index.tsx
Labels: front-end

#1273 feat: 1245 extraction and storage cypress test
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-extraction.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-ownership.cy.ts
  frontend/cypress/fixtures/aclass-reg-form.json
Labels: front-end, test

#1400 chore: small changes for visibility and simplicity
  .github/workflows/.deploy.yml
  .github/workflows/merge.yml
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/pr-validate.yml
  sync/Dockerfile
Labels: bug, devops

#1403 chore(ci): update deployer action
  .github/workflows/.deploy.yml
  database/Dockerfile
Labels: dependencies, devops

#1406 chore(ci): improve deploy triggers and longer-running validations
  .github/workflows/.deploy.yml
  .github/workflows/.tests.yml
  .github/workflows/pr-open.yml
Labels: bug, devops

#1408 feat(ci): ETL sync scheduled job
  .github/workflows/.deploy.yml
  .github/workflows/sync-job.yml
Labels: devops

#1409 fix(ci): schduled job illegal characters
  .github/workflows/sync-job.yml
Labels: bug, devops

#1412 feat(ci): follow progress of ETL job
  .github/workflows/sync-job.yml
Labels: devops, feature

#1414 fix(ci): cypress nightly
  .github/workflows/cypress-nightly.yml
Labels: bug, test

#1415 fix(ci): cypress nightly, try 2
  .github/workflows/cypress-nightly.yml
Labels: bug, test

#1419 feat(ci): make oc update more resilient
  .github/workflows/sync-job.yml
Labels: bug, devops

#1424 feat: ETL testing in PRs, separate deployment triggers from core apps
  .github/workflows/.deploy.yml
  .github/workflows/pr-open.yml
  sync/Dockerfile
  sync/openshift.deploy.yml
Labels: devops, test

#1428 chore(deps): bump quickstart helpers version
  .github/workflows/pr-close.yml
  .github/workflows/pr-validate.yml
Labels: dependencies

#1429 fix(ci): consolidate and fix scheduled jobs
  .github/workflows/cypress-nightly.yml
  .github/workflows/job-nightly.yml
  .github/workflows/job-sync.yml
  README.md
Labels: bug, devops

#1430 fix(ci): scheduled cleanup deployements only, keep 4 days
  .github/workflows/job-nightly.yml
  README.md
Labels: bug, devops

#1431 chore(ci): switch to GH default CodeQL
  .github/workflows/analysis.yml
  .github/workflows/job-nightly.yml
Labels: devops

#1432 docs: remove Analysis badge, overly noisy (PR)
  .github/workflows/analysis.yml
  README.md
Labels: documentation

#1227 feat: 1142 orchard step cypress test
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-orchard.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-ownership.cy.ts
  frontend/cypress/fixtures/aclass-reg-form.json
Labels: front-end, test

#1439 chore(ci): cleanup
  .github/codeowners
  README.md
Labels: devops

#1444 feat(ci): demo routing workflow
  .github/workflows/demo.yml
Labels: demo

#1447 feat(ci): demo routing workflow ii
  .github/workflows/demo.yml
Labels: devops

#1450 chore(ci): sync job conversion
  .github/workflows/job-sync.yml
  sync/openshift.deploy.yml
Labels: devops

#1453 chore(ci): initial PROD deployment
  .github/workflows/merge.yml
Labels: devops
