Repository bcgov/nr-spar, pull requests merged in 2024-01, with the labels that each got.

#749 feat: Caddy return 404, still redirect
  frontend/Caddyfile
Labels: front-end, devops, feature

#757 fix(ci): main merge verification_path
  .github/workflows/merge.yml
Labels: bug, devops

#747 Fix/746 change wording in error messages
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/constants.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/utils.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/constants.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
Labels: front-end

#744 Fix: stub fav activities endpoints response
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/FavouriteActivityEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/FavouriteActivityService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/FavouriteActivityEndpointTest.java
  frontend/cypress/e2e/smoke-test/dashboard-page.cy.ts
  frontend/cypress/fixtures/favourite-activities.json
  frontend/cypress/support/e2e.ts
  frontend/src/api-service/favouriteActivitiesAPI.ts
  frontend/src/components/Card/FavouriteCard/index.tsx
Labels: full-stack

#728 fix: click on overlay closes menus
  frontend/src/components/BCHeader/definitions.ts
  frontend/src/components/BCHeader/index.tsx
Labels: front-end

#733 Feat/718 create and integrate get interim facility types endpoint
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/facilityTypesAPI.ts
  frontend/src/api-service/fundingSourcesAPI.ts
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/endpoint/FacilityTypesEndpoint.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/entity/FacilityTypes.java
  oracle-api/src/main/java/ca/bc/gov/backendstartapi/repository/FacilityTypesRepository.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/endpoint/FacilityTypesEndpointTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/endpoint/OrchardEndpointTest.java
  oracle-api/src/test/java/ca/bc/gov/backendstartapi/repository/FacilityTypesRepositoryTest.java
  oracle-api/src/test/resources/scripts/FacilityTypeRepositoryTest_findAllTest.sql
Labels: full-stack

#730 Feat/704 integrate seedlot reg post endpoint
  frontend/src/__test__/components/SeedlotTable.test.tsx
  frontend/src/__test__/utils/DateUtils.test.ts
  frontend/src/api-service/ApiConfig.ts
  frontend/src/api-service/seedlotAPI.ts
  frontend/src/components/ActivityHistory/index.tsx
  frontend/src/components/RecentActivities/RecentActivitiesTable/index.tsx
  frontend/src/components/SeedlotActivityHistory/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/definitions.ts
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/utils.ts
  frontend/src/components/SeedlotRegistrationSteps/SubmitModal/index.tsx
  frontend/src/shared-constants/shared-constants.ts
  frontend/src/types/ParentTreeGeneticQualityType.ts
  frontend/src/types/ResponseErrorType.ts
  frontend/src/types/SeedlotType.ts
  frontend/src/utils/DateUtils.ts
  frontend/src/utils/ErrorHandlingUtils.ts
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: front-end

#741 Feat/604 create endpoints to store and retrieve form json
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/SaveSeedlotFormDtoClassA.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/SaveSeedlotProgressEntityClassA.java
  backend/src/main/java/ca/bc/gov/backendstartapi/entity/embeddable/AuditInformation.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/JsonParsingException.java
  backend/src/main/java/ca/bc/gov/backendstartapi/exception/SeedlotFormProgressNotFoundException.java
  backend/src/main/java/ca/bc/gov/backendstartapi/repository/SaveSeedlotProgressRepositoryClassA.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/SaveSeedlotFormService.java
  backend/src/main/resources/db/migration/V23__add_triggers_to_new_tables.sql
  backend/src/main/resources/db/migration/V24__create_a_class_form_save_table.sql
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/SeedlotEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/SaveSeedlotFormServiceTest.java
Labels: back-end

#775 deps: backend springboot
  backend/pom.xml
Labels: dependencies

#780 Fix/712 parent tree contribution summary not populating
  backend/src/main/java/ca/bc/gov/backendstartapi/service/GeneticWorthService.java
Labels: back-end

#778 fix: add missing value for aws cognito backend
  .github/workflows/pr-open.yml
  docker-compose.yml
Labels: bug

#789 fix: autocomplete in camelcase
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/index.tsx
Labels: front-end

#783 Feat/720 integrate put seedlot form progress endpoint on front end
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api-service/seedlotAPI.ts
  frontend/src/components/PageTitle/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ExtractionAndStorageStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/InterimStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/styles.scss
  frontend/src/components/SeedlotRegistrationSteps/SubmitModal/styles.scss
  frontend/src/components/Subtitle/index.tsx
  frontend/src/config/TimeUnits.ts
  frontend/src/modules.d.ts
  frontend/src/routes/definitions.ts
  frontend/src/routes/index.tsx
  frontend/src/routes/pathConstants.ts
  frontend/src/shared-constants/shared-constants.ts
  frontend/src/types/ErrorDescriptionType.ts
  frontend/src/types/ResponseErrorType.ts
  frontend/src/types/SeedlotType.ts
  frontend/src/utils/ErrorHandlingUtils.ts
  frontend/src/views/Seedlot/SeedlotDashboard/RecentSeedlots/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/SaveTooltip.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/constants.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/styles.scss
  frontend/src/views/Seedlot/SeedlotRegistrationForm/utils.ts
Labels: front-end

#790 Feat/614 sticky toolbar and header
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/TableComponents/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/ParentTreeStep/styles.scss
  frontend/src/layout/PrivateLayout/styles.scss
Labels: front-end

#799 Feat/499 create component structure for client search modal on fe
  frontend/src/api-service/applicantAgenciesAPI.ts
  frontend/src/api-service/forestClientsAPI.ts
  frontend/src/components/ApplicantAgencyFields/ClientSearchModal/ClientSearchFields.tsx
  frontend/src/components/ApplicantAgencyFields/ClientSearchModal/constants.tsx
  frontend/src/components/ApplicantAgencyFields/ClientSearchModal/definitions.ts
  frontend/src/components/ApplicantAgencyFields/ClientSearchModal/index.tsx
  frontend/src/components/ApplicantAgencyFields/ClientSearchModal/styles.scss
  frontend/src/components/ApplicantAgencyFields/index.tsx
  frontend/src/components/ApplicantAgencyFields/styles.scss
  frontend/src/components/ClientSearchTable/constants.ts
  frontend/src/components/ClientSearchTable/definitions.ts
  frontend/src/components/ClientSearchTable/index.tsx
  frontend/src/components/ClientSearchTable/styles.scss
  frontend/src/components/ClientSearchTable/utils.ts
  frontend/src/components/LotApplicantAndInfoForm/SeedlotInformation.tsx
  frontend/src/components/SeedlotRegistrationSteps/OrchardStep/index.tsx
  frontend/src/components/SeedlotRegistrationSteps/OwnershipStep/SingleOwnerInfo/index.tsx
  frontend/src/mock-server/fixtures/ApplicantAgenciesItems.ts
  frontend/src/types/ApplicantAgencyType.ts
  frontend/src/types/ForestClientTypes/ForestClientDisplayType.ts
  frontend/src/types/ForestClientTypes/ForestClientLocationType.ts
  frontend/src/types/ForestClientTypes/ForestClientType.ts
  frontend/src/utils/FilterUtils.ts
  frontend/src/utils/ForestClientUtils.ts
  frontend/src/utils/SeedlotUtils.ts
  frontend/src/views/Seedlot/EditAClassApplication/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
Labels: front-end

#808 Feat/498 create api to fetch client search paginated screen
  backend/src/main/java/ca/bc/gov/backendstartapi/dto/ForestClientSearchDto.java
  backend/src/main/java/ca/bc/gov/backendstartapi/endpoint/ForestClientEndpoint.java
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/ForestClientApiProvider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/provider/Provider.java
  backend/src/main/java/ca/bc/gov/backendstartapi/service/ForestClientService.java
  backend/src/test/java/ca/bc/gov/backendstartapi/endpoint/ForestClientEndpointTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/provider/ForestClientApiProviderTest.java
  backend/src/test/java/ca/bc/gov/backendstartapi/service/ForestClientServiceTest.java
Labels: back-end

#811 Feat/605 build functionality of the progress form bar in the seedlot detail tab
  frontend/src/api-service/seedlotAPI.ts
  frontend/src/components/EmptySection/index.tsx
  frontend/src/components/NetworkError/defintions.ts
  frontend/src/components/NetworkError/index.tsx
  frontend/src/types/QueryStatusType.ts
  frontend/src/types/SeedlotType.ts
  frontend/src/views/Seedlot/SeedlotDetails/FormProgress/index.tsx
  frontend/src/views/Seedlot/SeedlotDetails/FormProgress/styles.scss
  frontend/src/views/Seedlot/SeedlotDetails/index.tsx
  frontend/src/views/Seedlot/SeedlotRegistrationForm/constants.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/definitions.ts
  frontend/src/views/Seedlot/SeedlotRegistrationForm/index.tsx
Labels: front-end
