Repository bcgov/nr-spar, pull requests merged in 2025-01, with the labels that each got.

#1793 feat: 1724 wcag standards applicant agency
  frontend/src/components/ClientAndCodeInput/index.tsx
  frontend/src/components/ClientAndCodeInput/styles.scss
  frontend/src/components/InputErrorText/index.tsx
  frontend/src/components/PageTitle/index.tsx
Labels: front-end

#1803 feat: 1725 wcag standards collection
  frontend/src/components/SeedlotRegistrationSteps/CollectionStep/index.tsx
Labels: front-end

#1817 chore(ci): actions moved to bcgov org
  .github/workflows/.deploy.yml
  .github/workflows/.tests.yml
  .github/workflows/analysis.yml
  .github/workflows/merge.yml
  .github/workflows/pr-open.yml
Labels: devops

#1811 feat: 1807 backend tests cypress
  frontend/cypress.config.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-orchard.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-ownership.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-parent-tree-calculations-part-1.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-parent-tree-part-1.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-parent-tree-part-2.cy.ts
  frontend/cypress/e2e/smoke-test/a-class-seedlot-reg-form-parent-tree-part-3.cy.ts
  frontend/cypress/e2e/smoke-test/api-tests.cy.ts
  frontend/cypress/e2e/smoke-test/create-a-class-seedlot-fdi.cy.ts
Labels: back-end, test
